body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #E2D4F2;
  margin: 0;
  padding: 0;
}

h1 {
  color: #67389A;
  margin-top: 20px;
}

#vinyl-container {
  display: inline-block;
  margin-top: 50px;
  position: relative;
}

svg {
  width: 500px;
  height: 600px;
}

#play-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: #ggg;
  background-color: #BB8EEB;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#play-button:hover {
  background-color: #9670C0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 4s linear infinite;
}
 div {
                text-align: center;
                vertical-align: middle;
            }
            #yesButton {
                background-color: #D8BFEC;
                transition: transform 0.3s;
                margin-right: 10px;
                width: 120px;
                font-size: 30px;
                height: 40px;
                color: #fff;
                margin-left: -140px;
            }
            #no {
                position: absolute;
                background-color: #A683C3;
                transition: transform 0.3s;
                margin-left: 10px;
                width: 120px;
                /* font-size: 30px; */
                height: 40px;
                color: #fff;
  }
